USE [master]
GO
/****** Object:  Database [LogisticsDB]    Script Date: 4/12/2026 8:53:16 PM ******/
CREATE DATABASE [LogisticsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LogisticsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LogisticsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LogisticsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LogisticsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LogisticsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LogisticsDB]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 4/12/2026 8:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[driver_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[license_plate] [varchar](20) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationHistory]    Script Date: 4/12/2026 8:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationHistory](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[lat] [float] NULL,
	[lon] [float] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogisticsPoints]    Script Date: 4/12/2026 8:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogisticsPoints](
	[point_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](100) NULL,
	[lat] [float] NULL,
	[lon] [float] NULL,
	[status] [nvarchar](50) NULL,
	[created_by] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[delivery_status] [nvarchar](50) NULL,
	[order_type] [nvarchar](20) NULL,
	[pickup_lat] [float] NULL,
	[pickup_lon] [float] NULL,
	[group_id] [nvarchar](50) NULL,
	[driver_id] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[point_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/12/2026 8:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_username] [varchar](50) NULL,
	[driver_username] [varchar](50) NULL,
	[order_status] [nvarchar](50) NULL,
	[delivery_lat] [float] NULL,
	[delivery_lon] [float] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/12/2026 8:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userstable]    Script Date: 4/12/2026 8:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userstable](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NULL,
	[role] [varchar](20) NULL,
	[is_locked] [int] NULL,
	[current_status] [nvarchar](50) NULL,
	[lat] [float] NULL,
	[lon] [float] NULL,
	[fullname] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseConfig]    Script Date: 4/12/2026 8:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseConfig](
	[id] [int] NOT NULL,
	[lat] [float] NULL,
	[lon] [float] NULL,
	[address_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LogisticsPoints] ON 

INSERT [dbo].[LogisticsPoints] ([point_id], [customer_name], [lat], [lon], [status], [created_by], [created_at], [delivery_status], [order_type], [pickup_lat], [pickup_lon], [group_id], [driver_id]) VALUES (4, NULL, 18.662916049911008, 105.70160865783691, N'Đã hoàn thành', N'admin', CAST(N'2026-03-14T17:20:26.510' AS DateTime), N'Đã hoàn thành', N'chuỗi', NULL, NULL, NULL, NULL)
INSERT [dbo].[LogisticsPoints] ([point_id], [customer_name], [lat], [lon], [status], [created_by], [created_at], [delivery_status], [order_type], [pickup_lat], [pickup_lon], [group_id], [driver_id]) VALUES (6, NULL, 18.659744637603904, 105.69285392761231, N'Đã hoàn thành', N'admin', CAST(N'2026-03-14T17:20:47.857' AS DateTime), N'Đã hoàn thành', N'chuỗi', NULL, NULL, NULL, NULL)
INSERT [dbo].[LogisticsPoints] ([point_id], [customer_name], [lat], [lon], [status], [created_by], [created_at], [delivery_status], [order_type], [pickup_lat], [pickup_lon], [group_id], [driver_id]) VALUES (7, NULL, 18.656979768249457, 105.68718910217287, N'Đã hoàn thành', N'admin', CAST(N'2026-03-15T18:05:05.390' AS DateTime), N'Đã hoàn thành', N'chuỗi', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LogisticsPoints] OFF
GO
INSERT [dbo].[userstable] ([username], [password], [role], [is_locked], [current_status], [lat], [lon], [fullname]) VALUES (N'aa', N'1', N'2', 0, N'Sẵn sàng', 18.683047279804146, 105.671398217533, N'aa')
INSERT [dbo].[userstable] ([username], [password], [role], [is_locked], [current_status], [lat], [lon], [fullname]) VALUES (N'admin', N'123', N'1', 0, NULL, NULL, NULL, N'admin')
INSERT [dbo].[userstable] ([username], [password], [role], [is_locked], [current_status], [lat], [lon], [fullname]) VALUES (N'ban', N'1', N'2', 0, N'Sẵn sàng', 18.661356550062514, 105.68181228103653, N'ban')
GO
INSERT [dbo].[WarehouseConfig] ([id], [lat], [lon], [address_name]) VALUES (1, 18.658748476631406, 105.69573998451234, N'TP. Vinh')
GO
ALTER TABLE [dbo].[Drivers] ADD  DEFAULT ('Available') FOR [status]
GO
ALTER TABLE [dbo].[LocationHistory] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[LogisticsPoints] ADD  DEFAULT (N'Chờ xử lý') FOR [status]
GO
ALTER TABLE [dbo].[LogisticsPoints] ADD  DEFAULT (N'Admin') FOR [created_by]
GO
ALTER TABLE [dbo].[LogisticsPoints] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[LogisticsPoints] ADD  DEFAULT (N'Chờ xử lý') FOR [delivery_status]
GO
ALTER TABLE [dbo].[LogisticsPoints] ADD  DEFAULT (N'chuỗi') FOR [order_type]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Chờ nhận') FOR [order_status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[userstable] ADD  DEFAULT ((0)) FOR [is_locked]
GO
ALTER TABLE [dbo].[userstable] ADD  DEFAULT (N'Ngoại tuyến') FOR [current_status]
GO
ALTER TABLE [dbo].[WarehouseConfig] ADD  DEFAULT ((1)) FOR [id]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[LocationHistory]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[userstable] ([username])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([customer_username])
REFERENCES [dbo].[userstable] ([username])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([driver_username])
REFERENCES [dbo].[userstable] ([username])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([role]='Driver' OR [role]='Customer' OR [role]='Admin'))
GO
USE [master]
GO
